# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (Crucial for security!)
node_modules/
.env
backend/.env
frontend/.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db